backend/bin/ffmpeg.exe
backend/bin/ffplay.exe
backend/bin/ffprobe.exe
backend/bin/res/sphinx/

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs/
frontend/*.log


.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?